[Unit]
Description=Configure Speakup Parameters
After=espeakup.service
BindsTo=espeakup.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/configure-speakup.sh
RemainAfterExit=yes
TimeoutStopSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
