[Unit]
Description=Mount Host Shared Folders (VirtualBox/QEMU)
Documentation=https://github.com/A11yDevs/emacs-a11y-vm
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mount-shared-folder.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
